{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/category/category.css' %}">
{% endblock %}

{% block content %}
{% include 'component/topheader.html' %}
{% include 'component/header.html' %}

<section class="category">
    <div class="container">
        <h1 class="py-4">All Categories</h1>
        <div class="row">
          {% for category in categories %}
            <div class="col-lg-3">
              <a href="{% url 'home:category:sub_category' pk=category.id %}">
                <div class="card bg-light">
                    <img src="{{ category.category_image.url }}" class="card-img-top " height="200px" alt="...">
                    <div class="card-body">
                      <h1>{{ category.id }}</h1>
                      <h5 class="card-title">{{ category.title }}</h5>
                      <p class="card-text">{{ category.description }}</p>
                    </div>
                  </div>
                </a>
                </div>
                {% endfor %}
    </div>
    </div>
</section>

{% endblock %}



