{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/category/detail_view.css' %}">
{% endblock %}

{% block content %}
{% include 'component/topheader.html' %}
{% include 'component/header.html' %}


<!-- job details main section -->
<section class="job-details pb-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row">
            <div class="col-12">
              <nav aria-label="breadcrumb" class="ps-3 mb-5">
                 <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#!">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Services</li>
                 </ol>
              </nav>
           </div>
           </div>
           <!-- subcategory detail section -->
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top img-fluid mb-5 mb-md-0" src="{{ subcategory.sub_category_image.url }}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{ category.title }}</div>
                <h1 class="display-5 fw-bolder">{{ subcategory.subcategory_title }}</h1>
                <!-- total average rating of the subcategory -->
                <div class="average-rating  mb-3">
                    {% if review %}
                  {{ average_rating|stars|safe }}
                  <a href="#review"><p class="text-info d-inline ms-2">({{ total_reviews }} reviews)</p></a>
                  {% else %}
                  <p>no rating</p>
                  {% endif %}  
                </div>
                <!-- price -->
                <div class="fs-5 mb-5">
                    <span>₹{{ subcategory.charge }}</span>
                </div>
                <!-- add to cart section -->
                <div class="d-flex">
                    <button class="btn btn-outline-dark me-2 px-3" id="decrease"><i class="fa-solid fa-minus"></i></button>
                    <input type="text" class="form-control text-center input-qty" id="quantity" value="1" disabled>
                    <button class="btn btn-outline-dark ms-2 me-3 px-3" id="increase"><i class="fa-solid fa-plus"></i></button>
                    <button class="btn btn-dark flex-shrink-0 update-cart" type="button" value="{{ subcategory.id }}" id="add-cart">
                        <i class="fa-solid fa-list me-1"></i>
                          Add to List
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- description section -->
<section class="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="mb-4">Description</h5>
                <p class="mb-5">{{ subcategory.description }}</p>
            </div>
        </div>
        <hr class="mb-5">
    </div>
</section>


<!-- review section -->
<section class="review" id="review">
    <div class="container">
        <div class="row">
          <div class="col-lg-6">
                <!-- passing review with subcaetgory-slug to identify the subcateogry -->
                <form action="{% if subcategory.slug %}{% url 'home:category:submit_review' slug=subcategory.slug %}{% endif %}" method="post">
                    {% csrf_token %}
                    <h4 class="mb-4">Write your reviews</h4>
                    <div>
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                        </div><br>
                        <div class="form-outline mt-2">
                            <textarea class="form-control comment-box w-75 mb-1" placeholder="Add your comment" name="comment" cols="20" rows="4"></textarea><br>
                        </div>
                        
                        {% if user.is_authenticated %}
                        <!-- only allow to post reviews if the user is authenticated -->
                        <div class="w-75 d-flex justify-content-end mb-5">
                            <input type="submit" value="Post" class="btn btn-dark my">
                        </div>
                        {% else %}
                        <p>You must login to post a review</p>
                        {% endif %}
                    </div>
                </form>
            </div>
            <!--read review section -->
            <div class="col-lg-6">
                <div class="mb-5">
                 <h4 class="mb-4">Reviews</h4>
                 
                 <div id="reviews-container">
                    <!-- Existing reviews will be appended here -->
         
                </div>

                <div id="review-spinner" class="not-visible py-4">
                    <div class="spinner-border text-dark" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                </div>
                <div id="loading-box">
                    <!-- read more link -->
                    <a href="#" class="btn btn-outline-gray-400 text-muted read-more-link">Read More Reviews</a>
                </div>
                     
                 </div>
            </div>
        </div>
    </div>
</section>


{% include 'component/footer.html' %}
{% endblock %}

{% block scripts %}
<!-- detailview page increment decrement -->
<script src="{% static 'js/category/detail_view.js' %}"></script>


<script>
    // Code for add to cart
    $(document).on('click', '#add-cart',function(e){
    e.preventDefault();
    $.ajax({
        type:'POST',
        url: "{% url 'cart:cart_add' %}",
        data:{
            subcategory_id: $('#add-cart').val(), //passing subactegory id in add to cart button
            sub_quantity: $('#quantity').val(), // passing value of quantity input 
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action:'post'
        },
        success:function(json){
            if (json.success === false){
                // show alert using sweetalert
                Swal.fire({
                icon: "error",
                title: "Invalid Quantity",
                text: "Must have atleast 1 service",
                showConfirmButton: false,
                timer: 2000
                            });
            }else{
 
                // show number of items in cart in header navigation
                document.getElementById('cart-qty').textContent = json.qty
                // show alert using sweetalert
                Swal.fire({
                icon: "success",
                title: "Success",
                text: "Successfully added to My List",
                showConfirmButton: false,
                timer: 2000
                            });

            }
            

            
            
        },
        error:function(xhr, errmsg, err){
            console.error('Error:', xhr.responseText);
        }
    });
})
</script>


<script>
    // read more review
    $(document).ready(function() {

        let visible = 2; //how many reviews want to display at initial loading
        const subcategorySlug = "{{ subcategory.slug }}" //store the slug into a variable and pass to backend
        const spinnerBox = document.getElementById('review-spinner'); 
        const reviewsContainer = document.getElementById('reviews-container');
        const loadBox = document.getElementById('loading-box'); 

        function loadMoreReviews() {

            $.ajax({
                type: 'GET',
                url: "{% url 'home:category:show_more_reviews' %}",
                data: { visible:visible,
                subcategory_slug:subcategorySlug }, //passing visible to backend
                success: function(response) {
              
                    let max_size = response.max_size //maximum size of review records
                    spinnerBox.classList.remove('not-visible') //set the spinner disabled

                    //add a half second of loading time for view next reviews
                    setTimeout(() => {

                        spinnerBox.classList.add('not-visible') //spinner loading when click on read-more
                        reviewsContainer.innerHTML += response.reviews_html; // insert the html into the reviewcontainer

                        //condition to check the number of reviews ends.
                        if (max_size){
                                loadBox.innerHTML = "<p>No more reviews</p>"
                                }

                    }, 500);
                    
                    
                    
                },
                error: function(xhr, status, error) {
                    console.error('Error loading more reviews:', error);
                }
            });
        }

        loadMoreReviews();

        $('.read-more-link').click(function(e) {
            e.preventDefault();
            visible += 2; //each and every click of read more we want to increment the value of visible to view more reviews
            loadMoreReviews();
        });
    });
    </script>
    

{% endblock %}
