{% extends 'base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/category/sub_category.css' %}" />
{% endblock %} {% block content %} {% include 'component/topheader.html' %} {% include 'component/header.html' %}

<section class="category">
    <div class="container">
        <h1 class="py-4">sub cat</h1>
        <div class="row">
            <div class="col-lg-3">
                <div class="card bg-light">
                    <img src="" class="card-img-top" height="200px" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Plumber</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, perferendis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light">
                    <img src="" class="card-img-top" height="200px" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Plumber</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, perferendis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light">
                    <img src="" class="card-img-top" height="200px" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Plumber</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, perferendis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light">
                    <img src="" class="card-img-top" height="200px" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Plumber</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, perferendis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
