{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/component/footer.css' %}">
{% endblock %}

{% block content %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p>asdfasdf</p>
            </div>
            <div class="col-lg-4">
                <p>asdfasd</p>
            </div>
            <div class="col-lg-4">
                <p>asdfasdfas</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}