{% extends 'base.html' %}
{% load static %}

{% block link %}
{% endblock %}

{% block content %}
{% include 'component/topheader.html' %}
{% include 'component/header.html' %}


<h1>employee</h1>

            <!-- <div class="col-lg-3">
                <div class="card bg-light">
                    <img src="" class="card-img-top" height="200px" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">{{ sub_category.subcategory_title }}</h5>
                    </div>
                </div>
            </div> -->


{% endblock %}




