{% extends 'base.html' %} {% load static %} {% block link %}

{% endblock %} {% block content %}

<section class="">
    <div class="container p-5">
        <div class="row">
            <div class="alert alert-info" role="alert" >
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </div>

            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
              </svg><a href="{% url 'login' %}" class="text-decoration-none">Go Back </a></span>
        </div>
    </div>
</section>


    

{% endblock %}
