
{% extends 'base.html' %} {% load static %} {% block link %}

{% endblock %} {% block content %}

<section class="password-reset-done vh-100 p-5">
    <div class="container-fluid">
        <div class="row">
                        
            <div class="alert alert-success" role="alert">
                Password changed successfully !!
            </div>

            

        </div>
        <a href="{% url 'login' %}" class="text-decoration-none fw-bold btn btn-dark px-3 py-2" >Login</a>
    </div>
</section>

{% endblock %}


