.cover{
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(circle at 10% 20%, rgb(251, 221, 19) 0.1%, rgb(255, 153, 1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover .main-left h1{
    font-weight: 900;
    font-size: 3.8rem;
}


.cover .main-left .main-btn{
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.cover .main-left .main-btn:hover{
    color: #fff;
    box-shadow: var(--box-shadow)
}

.cover .main-right{
   display: flex;
   justify-content: center;
   align-items: center;
}

.cover .main-right img{
   border-radius: 5px;
   box-shadow: 5px 5px 10px black;
}


/* service navbar */

.serv-nav{
    box-shadow: 5px 5px 5px rgb(75, 75, 76,0.1);
}



/* about section */
.about{
    min-height: 100vh;
    width: 100%;
}


.contact-section{
    height: 100vh;
    width: 100%;
}


/* media  queries */

@media (max-width:992px){

   

    .cover .main-left h1{
        font-weight: 900;
        font-size: 2.5rem;
    }

    .cover .row{
        flex-direction: column-reverse;
    }

    .cover .main-right img{
        margin: 5rem 0;
     }
}

@media (max-width:768px){

    

    .cover .main-left h1{
        font-weight: 900;
        font-size: 2.7rem;
    }
    .cover .main-left h4{
      
        font-size: 1.4rem;
    }
    .serv-nav .ser-nav-content p{
        font-size: 13px;
    }
    .serv-nav .ser-nav-content img{
        height: 40px;
        width:40px
    }

}
@media (max-width:576px){

    .cover .main-left h1{
        
        font-size: 2.2rem;
    }
    .cover .main-left h4{
      
        font-size: 1rem;
    }

    .serv-nav .ser-nav-content p{
        font-size: 10px;
    }
    .serv-nav .ser-nav-content img{
        height: 29px;
        width:29px
    }

    
}