.cover{
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover .main-left h1{
    font-weight: 900;
    font-size: 3.8rem;
}


.main-btn{
    font-weight: 500;
    letter-spacing: 1px;
}

.main-btn:hover{
    box-shadow: var(--box-shadow)
}

.cover .main-right{
   display: flex;
   justify-content: center;
   align-items: center;
}

.cover .main-right img{
   border-radius: 5px;
   box-shadow: 5px 5px 10px black;
}


/* service navbar */

.serv-nav{
    box-shadow: 5px 5px 5px rgb(75, 75, 76,0.1);
}




