.cover{
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle at 10% 20%, rgb(251, 221, 19) 0.1%, rgb(255, 153, 1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover .main-left h1{
    font-weight: 900;
    font-size: 3.8rem;
}


.cover .main-left .main-btn{
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.cover .main-left .main-btn:hover{
    color: #fff;
    box-shadow: var(--box-shadow)
}

.cover .main-right{
   display: flex;
   justify-content: center;
   align-items: center;
}

.cover .main-right img{
   border-radius: 5px;
   box-shadow: 5px 5px 10px black;
}


/* service navbar */

.serv-nav{
    box-shadow: 5px 5px 5px rgb(75, 75, 76,0.1);
}


/* about section */
.about{
    min-height: 100vh;
    width: 100%;
}


.contact-section{
    height: 100vh;
    width: 100%;
}


