{% extends 'base.html' %} {% load static %} {% load custom_filters %} {% block link %} <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="{% static 'css/cart/checkout.css' %}"> 
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %} {% block content %} {%include 'component/topheader.html' %} {% include 'component/header.html' %}

<section class="checkout">
    <div class="container py-5">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <div class="d-flex flex-row align-items-center">
              <h4 class="text-uppercase mt-1">Payment</h4>
              <span class="ms-2 me-3">page</span>
            </div>
        </div>
        
          <div class="row">
            <div class="col-md-7 col-lg-7 col-xl-6 mb-4 mb-md-0">
                <!-- calender for selecting booking date -->
                <div class="col-md-7 col-lg-8 pb-4">
                    <label for="selectedDate" class="form-label"><b>Select Your Booking Date</b></label><br>
                    <input type="date" id="selectedDate" name="booking_date" required>
                </div>
              <div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row mt-1">
                    <h6>Address</h6>
                  </div>
                  <div class="d-flex flex-row align-items-center text-primary">
                    <span class="ms-1"><a href="{% url 'home:address_list' %}" class="text-decoration-none">Edit</a></span>
                  </div>
                </div>
                
                <div class="p-2 pt-3 check-address" style="background-color: #eee;">
                    <ul class="">
                        <li>{{ address.full_name }}</li>
                        <li>{{ address.address1  }}</li>
                        <li>{{ address.address2  }}</li>
                        <li>{{ address.city  }}</li>
                        <li>{{ address.state  }}</li>
                        <li>{{ address.pincode  }}</li>
                        <li>Mob: {{ address.phone  }}</li>
                        
                      </ul>
                </div>
                <hr />
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row mt-1">
                    <h6>Our your Payment method</h6>
                    
                  </div>
                </div>
                <p>
                    Elevate Your Experience with Our Diverse and Convenient Payment Methods for Effortless Transactions
                </p>
                <ul>
                    <li>Cash on payment</li>
                    <li>Razorpay</li>
                    <li class="text-secondary">Paypal (coming soon)</li>
                </ul>
              </div>
            </div>
            <div class="col-md-5 col-lg-4 col-xl-4 offset-lg-1 offset-xl-2">
              <div class="p-3 mb-4" style="background-color: #eee;">
                <span class="fw-bold text-warning">Order Recap</span>
                {% for subcategory in cart_subcategory %}
                <div class="d-flex justify-content-between mt-2">
                    <div>
                        <h6>{{ subcategory.subcategory_title }}</h6>
                        <p>{{ subcategory.subcategory_title }}</p>
                    </div>
                   <span>₹{{ subcategory.charge }} X {{ quantities|session_quantity:subcategory.id }}</span>
                  
                </div>
                {% endfor %}
                
                <hr />
                <div class="d-flex justify-content-between mt-2">
                  <span class="lh-sm">Total Tax (GST)  
                  </span>
                  <span>+ ₹{{ tax }}</span>
                </div>
                <div class="d-flex justify-content-between mt-4">
                  <span class="lh-sm" id="promo-code">Promo code</span>
                  <span id="promo-code1">- ₹0.00</span>
                </div>
                <hr />
                
                <div class="d-flex justify-content-between mt-2">
                  <span><strong class="text-success">Total</strong> </span> <span class="text-danger" id="total"><strong>₹{{ total }}</strong></span>
                </div>
              </div>

              <!--Apply coupon code-->
              <form class="card p-2 mb-4">
                <div class="input-group dropdown">
                    <input id="selectedValue" type="text" class="form-control dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Promo code">
                    <ul class="dropdown-menu">
                      {% if coupons %}
                       {% for coupon in coupons %}
                                <li><a class="dropdown-item" href="#" onclick="updateInput('{{ coupon.coupon_code }}')">{{ coupon.coupon_code }}</a></li>
                            {% endfor %}
                      {% else %}
                      <li class=""><a class="dropdown-item" href="#" >No coupon</a></li>
                      {% endif %}

                        <!-- Add more dropdown items as needed -->
                    </ul>
                    <div class="input-group-append ms-2">
                        <button type="submit" class="btn btn-secondary" id="redeem">Redeem</button>
                        <button type="button" class="btn btn-secondary d-none" id="cancel">Cancel</button>
                    </div>
                </div>
            </form>

            <div>
                <button class="btn btn-dark w-100 mb-3" id="cash" type="submit" >Cash on payment</button>
            </div>
            <div>
                <button class="btn btn-dark w-100" id="razorpay" type="submit">Razorpay</button>
            </div>

            </div>
          </div>
    </div>
</section>



{% include 'component/footer.html' %}
{% endblock %} {% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
  function updateInput(couponCode) {
        document.getElementById('selectedValue').value = couponCode; 

    }
</script>


<script>
  //Coupon redeem js
   $(document).on('click', '#redeem', function(e){
        e.preventDefault();
        let coupon = $('#selectedValue').val()
        let bookingId = "{{ booking_id }}"

        $.ajax({
            type:'POST',
            url:"{% url 'cart:apply_coupon' %}",
            data:{
                'booking_id':bookingId,
                'coupon': coupon,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action:'post',
            },
            success:function(json){
                // Check if the response contains an error message
                if (json.success === false) {
                    // Display the error message to the user
                    Swal.fire({
                              icon: "error",
                              title: "Sorry",
                              text: `${json.error_message}`,
                        
                        });
                } else {
                 
                    // Update the total on success
                    Swal.fire({
                              icon: "success",
                              title: "Yeah!",
                              text: `You have saved ${json.discount}`,
                        
                        });

                        // Update the input field with the coupon name
                        $('#selectedValue').val(json.coupon);

                    //update the total amount
                    $('#total').html('₹' + json.updated_total);
                    //update the promo-code
                    $('#promo-code').html(json.coupon).css('font-weight', 'bold');
                    $('#promo-code1').html(json.discount).css('font-weight', 'bold');

                    // Hide the "Redeem" button and show the "Cancel" button
                    disableInput();
                    
                }
            },
            error:function(xhr, errmsg, err){
              console.error('Error:', xhr.responseText);
            }
            
        })
    })


    //coupon cancel ajax code
    $(document).on('click', '#cancel', function(e){
      e.preventDefault();
      let coupon = $('#selectedValue').val()
      let bookingId = "{{ booking_id }}"

      $.ajax({
                type:'POST',
                url:"{% url 'cart:cancel_coupon' %}",
                data:{
                'booking_id':bookingId,
                'coupon': coupon,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action:'post',
            },
            success:function(json){
              //check if json is a success response
              if (json.success === true){
                  // Update the total on success
                    Swal.fire({
                              icon: "success",
                              title: "Cancelled!",
                              text: "Your Coupon cancelled Successfully",
                        
                        });

                        // Set placeholder for Coupon input field
                        $('#selectedValue').val('Promo code');

                        // Reset the total amount and discount display
                        $('#total').html('₹' + json.updated_total);
                        $('#promo-code').html('Promo code');
                        $('#promo-code1').html('- ₹0.00');

                        // Hide the "Cancel" button and show the "Redeem" button
                        enableInput();

                  } 

            },
            error:function(xhr, errmsg, err){
              console.error('Error:', xhr.responseText);
            }
      })

    })

    // Function to disable input field
    function disableInput() {

            $('#selectedValue').prop('disabled', true);
            $('#redeem').hide();
            $('#cancel').removeClass('d-none');
        }

        // Function to enable input field
        function enableInput() {

            $('#selectedValue').prop('disabled', false);
            $('#redeem').show();
            $('#cancel').addClass('d-none');
        }

</script>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

    $(document).ready(function () {
              

              //if we click on cash on payment this function runs....
              $('#cash').on('click', function () {
              let bookingDate = $('#selectedDate').val();   // Get the booking date from date input(string)
              let currentDate = new Date();  // Get the current date(object)
              

              // Check if the booking date is empty
              if (bookingDate === '') {
                  //show a sweetalert for empty date input
                  Swal.fire({
                      icon: "error",
                      title: "Oops!",
                      text: "Please select booking date",
                      showConfirmButton: true,
                  });
              } else {
                  //if the date is selected then...
                  // Parse the booking date to a JavaScript Date object
                  let parsedBookingDate = new Date(bookingDate);

                  // Check if the parsed booking date is valid
                  if (isValidDateFormat(bookingDate) && parsedBookingDate >= currentDate) {

                      //execute this function
                      cashBooking('cash', bookingDate);

                  } else {
                      // Show an error message if the booking date is invalid
                      Swal.fire({
                          icon: "error",
                          title: "Invalid Date",
                          text: "Please select a valid booking date",
                          showConfirmButton: true,
                      });
                  }
              }
          });



      $('#razorpay').on('click', function () {
        let bookingDate = $('#selectedDate').val();   // Get the booking date from date input(string)
        let currentDate = new Date();  // Get the current date(object)
        
        if (bookingDate === ''){

            //show a alert using sweetalert
            Swal.fire({
                                icon: "error",
                                title: "Oops!",
                                text: "Please select booking date",
                                showConfirmButton: true,
                          });
            }else{

                 //if the date is selected then...
                  // Parse the booking date to a JavaScript Date object
                  let parsedBookingDate = new Date(bookingDate);

                  // Check if the parsed booking date is valid
                  if (isValidDateFormat(bookingDate) && parsedBookingDate >= currentDate) {

                      //execute this function
                      razorpayBooking('razorpay', bookingDate);
                      
                  } else {
                      // Show an error message if the booking date is invalid
                      Swal.fire({
                          icon: "error",
                          title: "Invalid Date",
                          text: "Please select a valid booking date",
                          showConfirmButton: true,
                      });
                  }

      };
        
      });
      
   //Check input date is in valid format   
   function isValidDateFormat(date) {
    // Convert the input date string to a Date object
    var parsedDate = new Date(date);

    // Check if the parsed date is a valid date and if the input date string has the correct length
    // The getTime() method returns the numeric value corresponding to the time for the specified date
    // isNaN() function checks if the value is NaN (Not a Number)
    // date.length === 10 checks if the input date string has a length of 10 characters (assuming it's in the format YYYY-MM-DD)
    return !isNaN(parsedDate.getTime()) && date.length === 10;
}


  //function for cash on payment
  function cashBooking(paymentMethod, bookingDate) {

        let bookingId = "{{ booking_id }}"    //get the booking id
    
    //cash on payment js    
    $.ajax({
        type: 'POST',
        url: "{% url 'cart:cash_on_payment'%}",
        data: {
            'booking_id':bookingId,
            'payment_method': paymentMethod,
            'booking_date': bookingDate,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post',
        },
        success: function (response) {
            //check if there is success response from backend
            if (response.success === true) {
                  //display a sweetalert to display confirmation message
                  Swal.fire({
                              icon: "success",
                              title: "Successfull",
                              text: "Your Booking has been placed",
                              showConfirmButton: false,
                              timer: 1500
                        }).then((result) =>{
                          //navigate to booking success page
                          window.location.href = "{% url 'cart:success' %}";
                        })
            } 
        },
        error: function (error) {
                Swal.fire({
                              icon: "error",
                              title: "Something went wrong!",
                              text: "Try again",
                              showConfirmButton: True,
                              timer: 1500
                        });
        } 
    });
}

//function for razorpay payment
function razorpayBooking(paymentMethod, bookingDate) {
    let bookingId = "{{ booking_id }}"    //get the booking id
    let total = parseInt("{{ total }}");  //total amount 

      $.ajax({
        type: 'POST',
        url: "{% url 'cart:razorpay_payment' %}",
        data: {
          'total':total,
          'booking_id':bookingId,
          'payment_method': paymentMethod,
          'booking_date': bookingDate,
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post',
        },
        success: function (response) {
          
          var booking_id = response.booking_id.id   //get the booking id
          var amount = response.booking_id.amount * 100   //get the total amount*100
        
        
          var options = {
          key: "rzp_test_Jip0yCRQ7rBlhH",
          amount:  amount,
          currency: "INR",
          name: "Talvo App",
          description: "Bookings",
          order_id: booking_id ,
          handler: function (response) {
            $.ajax({
                  type: 'POST',
                  url: "{% url 'cart:razorpay_payment_complete'  %}",
                  data: {
                      'order_id':booking_id,
                      action: 'post',
                  },
                  success: function(json) {
                    //if the response is success
                    if (json.success == true){
                      //show an aler of success
                      Swal.fire({
                              icon: "success",
                              title: "Successfull",
                              text: "Your Booking has been placed",
                              showConfirmButton: false,
                              timer: 1500
                        }).then((result) =>{
                          //navigate to booking success page
                          window.location.href = "{% url 'cart:success' %}"
                        })
                    }
                  },
                  error: function(xhr, errmsg, err) {
                      console.error('Error:', xhr.responseText);
                      //alert using sweetalert
                      Swal.fire({
                              icon: "error",
                              title: "Something went wrong!",
                              text: "Try again",
                              showConfirmButton: True,
                              timer: 1500
                        });
                  }
              });
          },
          theme: {
              color: "#FB8B24",
          },
          };


          var rzp1 = new Razorpay(options);
          rzp1.on("payment.failed", function (response) {
          //if the payment failed navigate to payment failed page
          window.location.href = "{% url 'cart:payment-failed' %}";
          });
          rzp1.open();
        },
        error: function (error) {
        }
      })
}
        });

  </script>




{% endblock %}
