{% extends 'base.html' %} {% load static %} {% load custom_filters %} {% block link %}  {% endblock %} {% block content %} {%include 'component/topheader.html' %} {% include 'component/header.html' %}

<section class="checkout">
    <div class="container mb-5">
        <div class="py-5">
            <h2>Checkout form</h2>
        </div>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for subcategory in cart_subcategory %}

                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{ subcategory.subcategory_title }}</h6>
                            <small class="text-muted">{{subcategory.category.title}}</small>
                        </div>

                        <span class="text-muted"
                            >₹{{ subcategory.charge }} X {{ quantities|quantity_filter:subcategory.id }}</span
                        >
                    </li>
                    {% endfor %}

                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>SALE500</small>
                        </div>
                        <span class="text-success">−₹500</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (Rupee)</span>
                        <strong>₹{{ total }}</strong>
                    </li>
                </ul>

                <form class="card p-2" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        {{ coupon_form }}
                        <button type="submit" class="btn btn-danger">Redeem</button>
                    </div>
                </form>

                
            </div>

            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing address</h4>
                <form id="checkout-form" action="{% url 'cart:checkout' %}" method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            {{ form.fname }} {% if form.fname.errors %}
                            <div class="invalid-feedback">{{ form.fname.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label"
                                >Last name <span class="text-muted">(Optional)</span></label
                            >
                            {{ form.lname }} {% if form.lname.errors %}
                            <div class="invalid-feedback">{{ form.lname.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                            {{ form.email }} {% if form.email.errors %}
                            <div class="invalid-feedback">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <label for="phone" class="form-label">Phone</label>
                            {{ form.phone }} {% if form.phone.errors %}
                            <div class="invalid-feedback">{{ form.phone.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <label for="booking_date" class="form-label">Booking Date</label>
                            {{ form.booking_date }} {% if form.booking_date.errors %}
                            <div class="invalid-feedback">{{ form.booking_date.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <label for="address2" class="form-label">Address 1 <span class="text-muted">(Optional)</span></label>
                            {{ form.address1 }} {% if form.address1.errors %}
                            <div class="invalid-feedback">{{ form.address1.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                            {{ form.address2 }} {% if form.address2.errors %}
                            <div class="invalid-feedback">{{ form.address2.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <label for="state" class="form-label">City</label>
                            {{ form.city }} {% if form.city.errors %}
                            <div class="invalid-feedback">{{ form.city.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-7">
                            <label for="state" class="form-label">State</label>
                            {{ form.state }} {% if form.state.errors %}
                            <div class="invalid-feedback">{{ form.state.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="col-md-5">
                            <label for="zip" class="form-label">Zip</label>
                            {{ form.pincode }} {% if form.pincode.errors %}
                            <div class="invalid-feedback">{{ form.pincode.errors }}</div>
                            {% endif %}
                        </div>

                        <hr class="my-4" />

                        <h4 class="mb-2">Payment</h4>
                        <div class="col-sm-6">
                            <label class="form-label">Payment Mode</label>
                            <div class="form-check">
                                <input type="radio" id="id_payment_mode_razorpay" name="payment_mode" value="razorpay">
                                <label for="id_payment_mode_razorpay" class="form-check-label">Razorpay</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="id_payment_mode_cash" name="payment_mode" value="cash">
                                <label for="id_payment_mode_cash" class="form-check-label">Cash Payment</label>
                            </div>
                            {% if form.payment_mode.errors %}
                                <div class="invalid-feedback">{{ form.payment_mode.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <button class="w-100 btn btn-danger btn-lg mt-3" id="rzp-button1" type="submit" name="submit">
                        Continue to checkout
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block scripts %}


{% endblock %}
