{% extends 'base.html' %}
{% load static %}
{% block link %}

{% endblock %} {% block content %} {% include 'component/topheader.html' %} {% include 'component/header.html' %}

<div class="section vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="text-center">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead"><strong>Please check your <a href="{% url 'home:bookings' %}" class="text-decoration-none text-warning">Bookings</a></strong> for further instructions on how to review your Bookings.</p>
            <p>Booking-ID : {{ recent_item.order_id }}</p>
            <hr>
            <p>
              Having trouble ?  <a href="{% url 'home:contact' %}" class="text-decoration-none text-warning">Contact us</a>
            </p>
            <p class="lead">
              <a class="btn btn-dark btn-sm" href="{% url 'home:home' %}" role="button">Continue to homepage</a>
            </p>
        </div>
    </div>
</div>

{% include 'component/footer.html' %}
{% endblock %}