
{% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}" />
{% endblock %} {% block content %} {% include 'component/topheader.html' %} {% include 'component/header.html' %}

<!--home page service section-->
<div class="cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex">
                <div class="main-left">
                    <h1>EMPOWERING JOBS, EMPOWERING LIVES.</h1>
                    <h4>Connecting Labor, Empowering Success – Your Future at Work with Talvo.</h4>
                    <div class="cover-btn p-3">
                        <button type="button" class="btn btn-dark btn-lg px-5 py-3 me-3 main-btn d-none d-md-inline">
                            Book now
                        </button>
                        <button type="button" class="btn btn-dark btn-sm px-4 py-2 me-2 main-btn d-inline d-md-none">
                            Book now
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-cebter align-items-center">
                <div class="main-right">
                    <img src="{% static 'images/home/covermain.jpg' %}" class="h-25 w-75" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--service navbar section-->

<nav class="serv-nav p-4 sm-p-2">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <div class="ser-nav-content">
                    <div class="d-flex justify-content-center align-items-center pb-2">
                        <img src="{% static 'images/icons/coupons.png' %}" alt=""  />
                    </div>
                    <div class="d-flex justify-content-center align-items-center fw-bold">
                        <p>Exciting Offers</p>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <div class="ser-nav-content">
                    <div class="d-flex justify-content-center align-items-center pb-2">
                        <img src="{% static 'images/icons/verify.png' %}" alt=""  />
                    </div>
                    <div class="d-flex justify-content-center align-items-center fw-bold">
                        <p>Verified Professionals</p>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <div class="ser-nav-content">
                    <div class="d-flex justify-content-center align-items-center pb-2">
                        <img src="{% static 'images/icons/support.png' %}" alt=""  />
                    </div>
                    <div class="d-flex justify-content-center align-items-center fw-bold">
                        <p>24/7 Customer Support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--About section-->
<section class="about py-5">
    <div class="container">
        <h1 class="text-center">About Us</h1>
        <div class="row">
            <div class="col-lg-7 p-5">
                <img src="{% static 'images/home/animation.jpg' %}" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-5">
                <div class="about-details pt-5">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab eum repudiandae eveniet necessitatibus?
                        Perferendis veniam ad a in ullam dolores nesciunt soluta sed dignissimos odit ut deserunt, corporis
                        odio fugit dicta sit molestias eos accusamus assumenda. Similique voluptatibus hic veniam, numquam
                        adipisci voluptatem vitae ea, nulla harum repudiandae rerum. Reiciendis, qui natus. Sequi aspernatur
                        illum eos quas, laborum numquam harum cumque provident, officia optio suscipit eaque esse nisi omnis
                        magni eligendi! Quod, reprehenderit. Aspernatur voluptatem pariatur ratione cum tempora ipsa nostrum
                        magni nobis odit, ea debitis sequi iure quia eum velit dolores dolore sapiente ducimus accusantium
                        vero. In nam impedit delectus perferendis, saepe suscipit. Quisquam, odio omnis veniam optio
                        voluptatum consequatur obcaecati perspiciatis autem atque voluptatibus tempore dicta a doloremque
                        cum architecto rem quasi praesentium ullam excepturi alias eveniet! Atque animi unde nihil ipsum
                        quia eos repellat cupiditate laborum similique! Culpa soluta provident illum quaerat minus
                        voluptatum sapiente voluptas quia! Esse excepturi eaque assumenda eligendi accusamus laborum atque
                        maxime dolores harum quisquam delectus alias et consequatur repudiandae provident fuga, accusantium,
                        sapiente fugiat temporibus a voluptatum. Eligendi perferendis porro quas voluptate quaerat minus in
                        voluptas ducimus doloremque ad officia reiciendis asperiores numquam eius recusandae deserunt
                        voluptatem laboriosam inventore, reprehenderit at. Corrupti.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'component/footer.html' %} {% endblock %}
