

.profile-section .media{
    background-color: #fec84e;
    background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
    border-radius: 10px;
}

.profile-section .media2{
    width: 100%;
    background-color: #fec84e;
    background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
    border-radius: 10px;
    
}
.profile-section .media2 > div{
    padding: 4px 0;
    background-color: #fff;
    margin-bottom: 25px;
    min-height: 50px;
    border-radius: 10px;
}

.profile-section .media2 div p{
    margin: 7px;
}

.profile-section .account-img{
    height: 130px;
    width: 100px;
}


.edit-btn #main-btn{
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--primary-color);
}

.edit-btn #main-btn:hover{
    color: #fff;
    box-shadow: var(--box-shadow)
}
