
/* main header */

.navbar{
    background-color: #fff;
    box-shadow: 5px 5px 5px rgb(75, 75, 76,0.1);
}

.navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-item{
    padding: 0 20px;
}

.navbar-nav .nav-item a{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.5px;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar-nav .nav-item a:hover{
    background-color: #FFD32D;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.navbar-nav .nav-item a:focus{
    background-color: #FFD32D;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
