*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;  
    background-color: #FEFEFE;
}

:root{
    --primary-color:#FFD32D;
    --pearl-color:#ECECEC;
    --white:#fff;
    --black:#0000;
    --dark-blue:#1f203a;
    --box-shadow: 5px 5px 5px rgb(75, 75, 76,0.1);
}
