*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;  
}

:root{
    --primary-color:#FFD32D;
    --pearl-color:#ECECEC;
    --white:#fff;
    --black:#0000;
    --dark-blue:#1f203a;
    --box-shadow: 5px 5px 5px rgb(75, 75, 76,0.1);
}

/* top header */

.top-nav{
    background-color: #ECECEC;
}

.top-nav .log-reg{
    font-weight: 800;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-nav .log-reg a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    padding: 0 5px;
}
.top-nav .log-reg a:hover{
    color: var(--primary-color);
    scale: 1.05;
    transition: .1s ease-in-out;
}


/* main header */

.navbar{
    background-color: #fff;
    box-shadow: 5px 5px 5px rgb(75, 75, 76,0.1);
}

.navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-item{
    padding: 0 20px;
}

.navbar-nav .nav-item a{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.5px;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar-nav .nav-item a:hover{
    background-color: #FFD32D;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.navbar-nav .nav-item a:focus{
    background-color: #FFD32D;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}



/* footer section */

.footer{
    background-color: #1f203a;
    color: #fff;
    padding: 50px;

}