{% extends 'base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/user/login.css' %}" />
{% endblock %} {% block content %}


<!-- login page -->
<div class="login">
        <div class="container-fluid login-container">
                <div class="login-card" >
                    <div class="row">
                        <div class="col-lg-6 p-5">
                            <h1 class="text-center pb-3">Sign Up</h1>
                            <!-- login form -->
                            <form action="" class="" method="post">
                                {% csrf_token %} {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="labels">{{ field.label }}</label><br>
                            {{ field }} {% for error in field.errors %}
                            <p class="help text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}  
                        {% for non_field_error in form.non_field_errors %}
                            <p class="help text-danger">{{ non_field_error }}</p>
                            {% endfor %}
                            <div class="d-flex justify-content-center mt-5">
                                <button type="submit" class="btn btn-dark py-2 px-4">Login</button>
                            </div>
                            <!-- forgot password link -->
                            <p class="mt-5"><a href="{% url 'reset_password' %}">Forgott Password ?</a></p>
                            <!-- new user sign-up page link -->
                            <p class="">New User ? <a href="{% url 'register' %}">Sign-Up</a></p>
                            </form>
                        </div>
                        <div class="col-lg-6 p-4 image">
                            <img src="{% static 'images/logo/anime.jpg' %}" class="img-fluid d-block mx-auto" alt="">
                        </div>
                    </div>
                </div>
            
        </div>
</div>

{% endblock %}

